* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.card-Youtube {
  background-color: #F1C2B0;
}
.card-Tiktok {
  background-color: #F9EB98;
}
.card-Facebook {
  background-color: #C0D9DD;
}
.card-Instagram {
  background-color: #6975E8;
}